.container3,
.container4 {
    color: white;
    margin: 0px 10px;
    border: 5px solid rgb(131, 131, 11);
    overflow: hidden;
    border-radius: 10px;
    background-color: rgb(2, 8, 36);
    display: inline-flex;
    text-align: center;
}

.container4 {
    flex-direction: column;
    font-size: 1.1rem;
}

#csawahead {
    border: 5px solid rgb(131, 131, 11);
    background-color: rgb(131, 131, 11);
    font-size: 1.5rem;
}

.imageStyle {
    margin: 10px 5px;
    border: 2px solid rgb(131, 131, 11);
    height: 3.2rem;
    width: 3.2rem;
    display: inline-block;
    border-radius: 50%;
}

.PRR {
    display: inline-flex;
}

#RR {
    border: 5px solid rgb(131, 131, 11);
    background-color: rgb(131, 131, 11);
}

.precision {
    flex: 50%;
    border-right: 5px solid rgb(131, 131, 11);
}

.resolve {
    flex: 50%;
    border-right: 5px solid rgb(131, 131, 11);
}

.runestats {
    flex: 60%;
}

.PRRhead {
    background-color: rgb(131, 131, 11);
    padding: 0px 55px;
}

.imageStylePRR {
    border: 2px solid rgb(131, 131, 11);
    height: 2.6rem;
    width: 2.6rem;
    margin-top: 5px;
    border-radius: 50%;
}

@media (max-width:1080px){
   .container4{
    margin-top: 10px;
   }
    
    #csawahead {
    font-size: 1.1rem;
}

.imageStyle {
    height: 2.8rem;
    width: 2.8rem;
    margin: 6px 3px;
}

.imageStylePRR {
    height: 2.2rem;
    width: 2.2rem;
}


}